extends layout.pug

block appContent
    script setActive('home')

    .top-buffer
    
    .container.bg-info.round
        .row
            .col-12.text-center 
                h2.text-white US Quick Facts
        .top-buffer
        each country in us
            .row
                .col-12.text-center
                    h5.text-warning Positive: #{country.positive.toLocaleString()}
            .row
                .col-12.text-center
                    h5.text-danger Negative: #{country.negative.toLocaleString()}
            .row
                .col-12.text-center
                    h5.text-danger Reported Deaths: #{country.death.toLocaleString()}
            .row
                .col-12.text-center
                    h5.text-success Recovered: #{country.recovered.toLocaleString()}
            .row
                .col-12.text-center
                    h5.text-white Date Updated: #{country.lastModified}

    .top-buffer

    .container
         .row
            .col-12.text-center
                h2 States Data

    .container
        .text-center
            table#statesTable.table-striped
                thead
                    tr
                        th.text-left State
                        th.text-right Positive
                        th.text-right Reported Deaths
                        th.text-right Recovered
                tbody
                    each state in states
                        tr#stateRows
                            td.text-left #{state.stateName}
                            
                            if state.positive == null
                                td.text-right -
                            else
                                td.text-right #{state.positive.toLocaleString()}
                            
                            if state.death == null
                                td.text-right -
                            else
                                td.text-right #{state.death.toLocaleString()}
                            
                            if state.recovered == null
                                td.text-right -
                            else
                                td.text-right #{state.recovered.toLocaleString()}

                

    .break

    
    .top-buffer
    