extends layout.pug

block appContent
    script setActive('home')

    .top-buffer
    
    .container
        .row
            .col-12.text-center 
                h2 US Data
        .top-buffer
        each country in us
            .row.text-right
                .col.border 
                    h5 Positive
                .col.border #{country.positive.toLocaleString()}
            .row.text-right
                .col.border 
                    h5 Negative
                .col.border #{country.negative.toLocaleString()}
            .row.text-right
                .col.border 
                    h5 Reported Deaths
                .col.border #{country.death.toLocaleString()}
            .row.text-right
                .col.border 
                    h5 Recovered
                .col.border #{country.recovered.toLocaleString()}
            .row.text-right
                .col.border
                    h5 Date Updated
                .col.border #{country.lastModified}

    .top-buffer

    .container
         .row
            .col-12.text-center
                h2 States Data

    .container
        .text-center
            table#statesTable.table-striped
                thead
                    tr
                        th.text-left State
                        th.text-right Positive
                        th.text-right Negative
                        th.text-right Reported Deaths
                        th.text-right Recovered
                        th.text-right Update
                tbody
                    each state in states
                        tr#stateRows
                            td.text-left #{state.stateName}
                            
                            if state.positive == null
                                td.text-right NO DATA
                            else
                                td.text-right #{state.positive.toLocaleString()}
                            
                            if state.negative == null
                                td.text-right NO DATA
                            else
                                td.text-right #{state.negative.toLocaleString()}

                            if state.death == null
                                td.text-right NO DATA
                            else
                                td.text-right #{state.death.toLocaleString()}
                            
                            if state.recovered == null
                                td.text-right NO DATA
                            else
                                td.text-right #{state.recovered.toLocaleString()}
                            td.text-right #{state.dateChecked}

                

    .break

    
    .top-buffer
    