extends layout.pug

block appContent
    script setActive('home')

    .top-buffer
    
    .container
        .row
            .col-12.text-center 
                h2 US Data
        .top-buffer
        each country in us
            .row
                .col.text-center.border 
                    h5 Positive
                .col.text-center.border #{country.positive.toLocaleString()}
            .row
                .col.text-center.border 
                    h5 Negative
                .col.text-center.border #{country.negative.toLocaleString()}
            .row
                .col.text-center.border 
                    h5 Reported Deaths
                .col.text-center.border #{country.death.toLocaleString()}
            .row
                .col.text-center.border 
                    h5 Recovered
                .col.text-center.border #{country.recovered.toLocaleString()}
            .row
                .col.text-center.border
                    h5 Date Updated
                .col.text-center.border #{country.lastModified}

    .top-buffer

    .container
         .row
            .col-12.text-center
                h2 States Data

    .container
        .text-center
            table#statesTable
                thead
                    tr
                        th State
                        th Positive
                        th Negative
                        th Reported Deaths
                        th Recovered
                        th Update
                tbody
                    each state in states
                        tr
                            td #{state.stateName}
                            
                            if state.positive == null
                                td NO DATA
                            else
                                td #{state.positive.toLocaleString()}
                            
                            if state.negative == null
                                td NO DATA
                            else
                                td #{state.negative.toLocaleString()}

                            if state.death == null
                                td NO DATA
                            else
                                td #{state.death.toLocaleString()}
                            
                            if state.recovered == null
                                td NO DATA
                            else
                                td #{state.recovered.toLocaleString()}
                            td #{state.dateChecked}

                

    .break

    
    .top-buffer
    