extends layout.pug

block appContent
    script setActive('home')

    .top-buffer
    
    .container
        .row
            .col-12.text-center 
                h2 US Data
        .top-buffer
        each country in us
            .row
                .col.text-center.border 
                    h5 Positive
                .col.text-center.border #{country.positive}
            .row
                .col.text-center.border 
                    h5 Negative
                .col.text-center.border #{country.negative}
            .row
                .col.text-center.border 
                    h5 Reported Deaths
                .col.text-center.border #{country.death}
            .row
                .col.text-center.border 
                    h5 Recovered
                .col.text-center.border #{country.recovered}

    .top-buffer

    .container
        .row
            .col-12.text-center
                h2 States Data
        .top-buffer
        .row
            .col.text-center.border 
                h5 State
            .col.text-center.border 
                h5 Positive
            .col.text-center.border 
                h5 Negative
            .col.text-center.border 
                h5 Reported Deaths
            .col.text-center.border 
                h5 Recovered
        each state in states
            .row
                .col.text-center.border #{state.state}
                
                if state.positive == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.positive}
                
                if state.negative == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.negative}

                if state.death == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.death}
                
                if state.recovered == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.recovered}

                

    .break

    
    .top-buffer
    