extends layout.pug

block appContent
    script setActive('home')

    .top-buffer
    
    .container
        .row
            .col-12.text-center 
                h2 US Data
        .top-buffer
        each country in us
            .row
                .col.text-center.border 
                    h5 Positive
                .col.text-center.border #{country.positive.toLocaleString()}
            .row
                .col.text-center.border 
                    h5 Negative
                .col.text-center.border #{country.negative.toLocaleString()}
            .row
                .col.text-center.border 
                    h5 Reported Deaths
                .col.text-center.border #{country.death.toLocaleString()}
            .row
                .col.text-center.border 
                    h5 Recovered
                .col.text-center.border #{country.recovered.toLocaleString()}
            .row
                .col.text-center.border
                    h5 Date Updated
                .col.text-center.border #{country.lastModified}

    .top-buffer

    .container
        .row
            .col-12.text-center
                h2 States Data
        .top-buffer
        .row
            .col.text-center.border 
                h5 State
            .col.text-center.border 
                h5 Positive
            .col.text-center.border 
                h5 Negative
            .col.text-center.border 
                h5 Reported Deaths
            .col.text-center.border 
                h5 Recovered
            .col.text-center.border
                h5 Update
        each state in states
            .row
                .col.text-center.border #{state.state}, #{state.stateName}
                
                if state.positive == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.positive.toLocaleString()}
                
                if state.negative == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.negative.toLocaleString()}

                if state.death == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.death.toLocaleString()}
                
                if state.recovered == null
                    .col.text-center.border NO DATA
                else
                    .col.text-center.border #{state.recovered.toLocaleString()}
                .col.text-center.border #{state.dateChecked}

                

    .break

    
    .top-buffer
    